<style type="text/css">
	p{
		margin-bottom: 15px;
	}
	a{
		    color: #337ab7;
	}
	.dyear{
		margin-bottom: 30px;
	}
</style>
<div ng-controller="projectCtrl" class="container content-section ">
	<h1>Undergraduate Projects</h1>
	<hr>
	<br><br>

		<div class="dyear" ng-repeat=" year in projects.years | orderBy: '-name' ">
		<h2>{{year.name}} </h2>
		<hr>
		<div class="row" ng-repeat="project in year.projects | orderBy:'title'">
		<div class="col-md-8">
		<p>{{project.title}} <i>{{project.author}}</i> </p>
		</div>
		<div class="col-md-4">
		<p>
		 <span  ng-repeat= " link in project.readylinks | orderBy:'title'">
		 		[<a target="_blank" href="{{link.link}}">{{link.title}}</a>]
		 </span>
		</p>
		</div>
</div>

<br><br>
		</div>

		</div>


